@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --color-primary: #242424;
  --color-secondary: #dedede;
  --color-hover-primary: #cfcfcf;
  --color-hover-secondary: #454545;
  --color-red: rgb(240, 69, 69);
  --color-white: #fff;
  --color-input: rgb(167, 167, 167);
}
html,
body {
  font-family: "Inter", sans-serif;
  background: #fffffe;
  color: var(--color-primary);
  font-size: 0.925rem;
}
button {
  color: #131313;
  cursor: pointer;
  border: none;
  background: var(--color-secondary);
  height: 2rem;
  border-radius: 0.188rem;
}
button:hover {
  background: var(--color-hover-primary);
}
a {
  text-decoration: none;
  color: #131313;
  cursor: pointer;
  background: none;
  font-size: 0.9rem;
}
a:hover {
  text-decoration: underline;
}
/* input {
  height: 2.2rem;
  text-indent: 0.625rem;
  font-family: "Inter", sans-serif;
  border: 1px solid var(--color-input);
  outline: none;
  width: 100%;
  border-radius: 0.188rem;
} */
select {
  height: 1.875rem;
  text-indent: 0.2rem;
  background: var(--color-white);
  border: 1px solid var(--color-input);
  border-radius: 0.188rem;
  margin: 0.5rem;
  cursor: pointer;
}
ul {
  padding: 0;
}
ul,
li {
  list-style: none;
}
.form-two-column {
  width: 48%;
}
.fullname {
  display: flex;
  justify-content: space-between;
}
.display-msg {
  animation: fadeIn 0.3s;
  margin-top: 0.313rem;
  font-size: 0.875rem;
}
.error-message {
  color: var(--color-red);
}
.loader {
  height: calc(100vh - 4.2rem - 10.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1.5s infinite ease;
}
i,
.search-wrapper .clear,
.search-wrapper span,
.login-form span,
.checkout-page .country-dropdown,
.back-to-store,
.footer-wrapper .store-nav div {
  cursor: pointer;
}
/**HEADER**/
header {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  padding: 0.925rem;
  border-top: 1px solid var(--color-primary);
}
.logo,
.top-menu-wrapper {
  animation: fadeIn 1s;
}
header .logo {
  display: flex;
}
header .top-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header .top-menu {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 4rem;
  width: 0;
  background: #f7f7f7;
  height: calc(100vh - 4rem);
  transition: all 0.3s ease;
  overflow: hidden;
  box-shadow: -1.5px -1px 3px -3px;
}
header .top-menu.active {
  width: 235px;
}
header .top-menu ul li {
  margin-right: unset;
  margin-top: 1.375rem;
  padding: 1rem 0;
}
header .top-menu ul li a {
  padding: 1rem 100% 1rem 0.513rem;
  font-weight: 600;
}
header .top-menu ul li a:hover {
  background: var(--color-hover-primary);
  text-decoration: none;
}
header .top-menu-contact {
  margin-top: 2.713rem;
  padding-left: 0.513rem;
}
header .top-menu-contact .social-icons i {
  margin-top: 0.438rem;
  padding-right: 0.438rem;
}
header .top-menu-contact .social-icons i:hover {
  transform: translate(0.5px, 0.5px);
}
.fa-bars,
.fa-times {
  font-size: 1.363rem;
}
/**HOME**/
.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home-page p {
  font-style: italic;
}
.home-col1,
.home-col2,
.home-col3 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-col1 {
  height: 300px;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  background: url("./assets/images/ALIVEINDUSTRY-FTWTeamFrame.webp");
  background-position: center;
  background-size: cover;
}
.home-col1:hover {
  filter: brightness(94%);
}
.home-col2 {
  padding: 1rem;
  gap: 0.938rem;
}
.home-col3 {
  align-items: center;
  margin-top: 6.188rem;
}
.home-col3 img {
  width: 50%;
}
.home-col3 img {
  padding: 1rem;
}
/**ABOUT**/
.about-page {
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
  margin-top: 0.625rem;
  font-size: 0.845rem;
}
.about-page h3 {
  margin-bottom: 1.738rem;
}
.about-page ul {
  margin-top: 1.563rem;
}
.about-page ul li a {
  text-decoration: underline;
}
/**SEARCH**/
.search-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  height: 2rem;
  margin-bottom: 1rem;
}
.search-bar {
  margin: 0 auto;
}
.search-input,
.sort-by select {
  border: none;
  border-bottom: 1px solid var(--color-hover-secondary);
  margin: 0;
  font-style: italic;
  font-size: 0.875rem;
}
.search-input {
  width: 23rem;
  text-indent: 0.313rem;
}
.sort-by {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.3rem;
}
/**LOGIN**/
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 2rem 1.563rem;
}
.login-wrapper h3 {
  text-align: center;
  margin-bottom: 1.563rem;
}
.login-wrapper p {
  margin: 0.313rem 0;
  font-size: 0.838rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form span {
  padding-left: 0.188rem;
  font-weight: 500;
}
.login-form span:hover {
  text-decoration: underline;
}
.login-form > input {
  margin-bottom: 1rem;
}
.login-form .password {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}
.login-form .password i {
  position: absolute;
  right: 0;
  color: var(--color-hover-secondary);
  padding-right: 0.538rem;
  font-size: 0.938rem;
}
.login-form > button {
  margin-top: 0.5rem;
}
/**DASHBOARD**/
.dashboard-wrapper,
.dashboard-header,
.dashboard-top-nav {
  display: flex;
}
.dashboard-wrapper {
  width: 100%;
  flex-direction: column;
  padding: 0.938rem;
}
.dashboard-hero {
  width: 100%;
  padding: 1.563rem 1rem;
  background: #ffcc8d;
  margin-top: 0.938rem;
  border-radius: 0.313rem;
}
.dashboard-wrapper h3 {
  font-size: 0.875rem;
  padding-bottom: 0.313rem;
}
.dashboard-wrapper .dashboard-header {
  justify-content: space-between;
  padding: 0.3rem 0.938rem;
  align-items: center;
  font-size: 0.813rem;
  border-bottom: 2px solid var(--color-secondary);
}
.dashboard-wrapper .dashboard-header h3 {
  padding: 0;
}
.dashboard-wrapper .dashboard-top-nav {
  padding: 0 0.938rem;
  justify-content: flex-end;
  border-bottom: 2px solid var(--color-secondary);
}
.dashboard-wrapper .dashboard-top-nav button {
  margin-left: 1.25rem;
  background: none;
  padding: 0.313rem 0;
}
.dashboard-wrapper .dashboard-top-nav button:hover {
  text-decoration: underline;
  transform: translate(0.063rem, 0.063rem);
}
.order-wrapper,
.address-wrapper,
.profile-wrapper {
  display: flex;
}
.order-list,
.address-shipping-wrapper,
.profile-details {
  width: 15rem;
  border-right: 2px solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}
.profile-form,
.address-form-wrapper,
.customer-order,
.account-msg-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  width: 100%;
}
.order-wrapper .order-list .date {
  font-size: 0.813rem;
}
.order-wrapper .order-list li {
  padding-bottom: 0.625rem;
}
.customer-order-top,
.order-summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.order-wrapper .customer-order .customer-order-top {
  padding: 0 0.313;
  font-size: 0.813rem;
}
.order-wrapper .customer-order .customer-order-top h3 {
  margin: 0;
}
.order-wrapper .customer-order h3 {
  margin-top: 0.938rem;
}
.address-shipping-wrapper button {
  background: none;
  padding: 5px 7px 0 0;
  text-decoration: underline;
  margin-bottom: 0.938rem;
}
.address-form-wrapper {
  max-width: 25rem;
}
.address-form-wrapper h3 {
  margin-left: 0.625rem;
}
.address-form-wrapper input {
  margin: 0.5rem;
}
.address-form-wrapper button {
  margin: 0.425rem;
  padding: 0 1.563rem;
}
.profile-wrapper .profile-details button {
  background: none;
  display: flex;
  justify-content: flex-end;
}
.profile-wrapper .profile-details button:hover {
  text-decoration: underline;
}
.profile-wrapper .profile-form input {
  border: none;
  border-bottom: 1px solid var(--color-input);
  margin: 0.625rem 0;
}
.profile-wrapper .profile-form button {
  margin-top: 0.938rem;
}
/**MAIN**/
.main-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 0 12rem;
  min-height: calc(100vh - 4rem - 9.3rem);
}
/**PRODUCTS PAGE**/
.products-page {
  display: flex;
  flex-direction: column;
}
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0.625rem 1.2rem;
  gap: 1.5rem;
}
.products-list-cap a:hover {
  text-decoration: none;
}
.products-list-hover {
  animation: fadeIn 1s;
  border: 2px solid #ededed;
  border-radius: 0.575rem;
  position: relative;
}
.products-list-hover .img {
  transition: all 0.3s ease;
  width: 100%;
}
.products-list-hover:hover .img {
  opacity: 0.5;
  transform: translate(0.063rem, 0.063rem);
  padding: 0;
}
.products-list-hover:hover .products-hover-text {
  opacity: 0.8;
}
.products-list-hover .products-hover-text {
  transition: 0.5s ease;
  width: 30%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.products-list-cap {
  padding: 0.813rem;
}
.products-list-hover .products-img-title {
  background-color: var(--color-red);
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 0.525rem 0;
}
/**PRODUCT DETAIL**/
.product-detail {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 1.2rem;
  gap: 2.75rem;
}
.product-detail .product-detail-img-wrapper {
  height: calc(100vh);
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}
.product-detail img {
  animation: fadeIn 1s;
  width: 100%;
}
.product-detail .product-spec-wrapper {
  padding: 1.563rem 0;
  padding-inline: 3rem;
  width: 40%;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px -1px;
}
.product-detail .product-name {
  font-size: 1.225rem;
  margin: 2rem 0 0.6rem 0;
}
.product-detail .price {
  font-weight: 500;
}
.product-detail .product-description {
  white-space: pre-wrap;
  line-height: 1.4rem;
  margin: 1.5rem 0 2.4rem 0;
  font-size: 0.9rem;
}
.product-detail .view-cart {
  padding-top: 0.313rem;
}
.product-detail .option-btn-wrapper {
  display: flex;
  margin-top: 1rem;
  padding: 0.313rem;
}
.product-detail .option-btn {
  height: 3rem;
  width: 3rem;
  font-weight: 500;
  border: 1px solid var(--color-red);
  border-radius: 50%;
  margin-right: 1rem;
  background: none;
  color: var(--color-red);
}
.product-detail .option-btn:hover {
  background: var(--color-red);
  color: var(--color-white);
  border: none;
}
.product-detail .cart-add-btn {
  width: 12rem;
  height: 2.3rem;
  margin-top: 0.625rem;
  border-radius: 0.313rem;
}
.product-detail .selected {
  background: var(--color-red);
  color: var(--color-white);
}
.product-detail .disabled {
  color: rgb(192, 192, 192);
  pointer-events: none;
  border: none;
}
.product-detail .line-item {
  border-bottom: 1px solid var(--color-hover-secondary);
  width: 3rem;
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
  left: -5px;
}
/**CART**/
.cart-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.cart-page .cart-items .empty-cart-text {
  text-align: center;
}
.cart-page .cart-item img {
  width: 35%;
  padding: 0.5rem;
}
.cart-page .checkout-btn {
  width: 10rem;
  padding: 0.5rem 0.625rem;
  text-align: center;
  border-radius: 0.25rem;
  background: var(--color-secondary);
}
.cart-page .checkout-btn:hover {
  background: var(--color-hover-primary);
}
.cart-page .remove-btn {
  margin-left: 0.313rem;
  padding: 0 0.5rem;
  font-size: 0.7rem;
  height: 1.75rem;
}
.cart-page .cart-sign-in {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7b7b7b;
}
/** CARTITEMS: CART&CHECKOUT**/
.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  width: 45%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #7b7b7b;
}
.cart-item ul {
  padding-left: 0.625rem;
}
.cart-item ul li {
  padding-bottom: 0.75rem;
  font-weight: 500;
}
.checkout-details-wrapper {
  padding: 0.453rem 0;
}
.cart-total {
  letter-spacing: 0.25px;
  margin-bottom: 0.338rem;
  line-height: 1.4rem;
}

/**CHECKOUT**/
.checkout-page,
.selected-country,
.billing-form,
.billing-check,
.discount-form,
.shipping-option,
.payment-option {
  display: flex;
}
.checkout-page,
.billing-text {
  width: 100%;
}
.selected-country,
.billing-form,
.discount-form,
.shipping-option {
  align-items: center;
}
.checkout-page .cart-items,
.checkout-form {
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px -1px;
}
.checkout-page .cart-items h3,
.checkout-page .cart-items ul li {
  padding: 0;
}
.checkout-page .country-dropdown,
.checkout-page .country-list {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 0.188rem;
}
.checkout-form button,
.discount-form button {
  padding: 0 1.563rem;
}
.shipping-options,
.payment-options {
  flex-direction: column;
  margin-top: 1rem;
}
.checkout-page select {
  margin-left: 0;
  border-color: var(--color-white);
}
.checkout-page input {
  margin: 0.8rem 0;
  border-color: var(--color-white);
}
.shipping-option input,
.payment-option input {
  width: 1.125rem;
  height: 0.938rem;
  margin-right: 0.313rem;
}
.checkout-page .payment-options p,
.payment-options a {
  font-size: 0.688rem;
}
.checkout-page {
  padding: 1.2rem;
  justify-content: space-around;
  gap: 3.125rem;
}
.checkout-page .cart-items {
  width: 30%;
  padding: 1.563rem;
}
.checkout-page .cart-item img {
  max-width: 10rem;
  padding: 0.313rem;
}
.checkout-page .cart-total {
  margin-left: 40%;
}
.checkout-page .checkout-form {
  width: 65%;
  padding: 1.563rem 0;
  padding-inline: 3.75rem;
}
.checkout-page .checkout-form form button {
  margin-top: 0.738rem;
}
.checkout-page .shipping-form .fa-angle-down {
  margin-right: 0.25rem;
}
.checkout-page .country-dropdown {
  width: 27%;
  margin: 0.5rem 0;
  text-indent: 0.225rem;
  font-size: 0.813rem;
  z-index: 1;
}
.checkout-page .selected-country {
  height: 1.875rem;
  justify-content: space-between;
}
.checkout-page .country-list {
  position: absolute;
  width: 12.5%;
  height: 18.75rem;
  overflow-y: auto;
  padding: 0;
}
.checkout-page .country-list li {
  padding: 0.29rem 0;
}
.checkout-page .country-list li:hover {
  background: var(--color-hover-primary);
}
.checkout-page .billing-form .billing-check {
  margin-right: 0.35rem;
  width: 1rem;
}
.checkout-page .billing-form {
  margin: 1rem 0 0;
}
.checkout-page h3 {
  padding: 1.6rem 0 0.5rem;
  font-size: 1rem;
}
.selected-address-wrapper {
  margin: 0.625rem 0 0 0;
  justify-content: space-between;
}
.selected-address-wrapper .edit {
  text-decoration: underline;
}
.selected-address-wrapper .selected-address {
  line-height: 1.4rem;
}
.checkout-page .discount-form {
  margin-top: 1.5rem;
  width: 50%;
}
.checkout-page .discount-form input {
  margin: 0;
}
.checkout-page .discount-form button {
  margin-left: 0.5rem;
}
.checkout-page .payment-options button {
  margin: 0.625rem 0 0.313rem;
  width: 12.5rem;
}
/**COMPLETED**/
.completed-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.completed-order .order-details {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0.513rem;
  border: 1px solid #e6e5e5;
  border-radius: 0.188rem;
  margin-top: 0.313rem;
}
.completed-order .order-details img {
  margin-top: -0.938rem;
  margin-bottom: -2rem;
  padding: 0.938rem;
}
.completed-order .order-details p {
  padding: 0 0.313rem;
}
.completed-order .order-totals {
  margin-top: 1.25rem;
}
.completed-order .back-to-store {
  float: left;
  width: 100px;
  margin-top: 1.25rem;
  padding: 0.413rem;
}
.completed-order .back-to-store:hover {
  transform: translate(1px, 1px);
}
/**FOOTER**/
.footer-wrapper {
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  background: var(--color-primary);
  will-change: transform;
  transform: translateZ(0);
  box-shadow: 0 -2px 3px -2px;
  color: var(--color-secondary);
}
.store-nav,
.store-nav div,
.bottom-menu,
.bottom-menu div {
  display: grid;
}
.footer-wrapper .store-nav {
  height: 3.67rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}
.footer-wrapper .store-nav a {
  padding: 1.25rem 0.313rem;
  background: none;
  color: var(--color-white);
}
.footer-wrapper .store-nav a:hover {
  text-decoration: none;
}
.footer-wrapper .store-nav div {
  align-items: center;
  text-align: center;
  font-size: 0.813rem;
  color: var(--color-white);
}
.footer-wrapper .store-nav div:hover {
  background: var(--color-hover-secondary);
}
.footer-wrapper .store-nav .country {
  padding: 1.25rem;
}
.footer-wrapper .store-county {
  position: absolute;
  z-index: 1000;
  width: 20%;
  background: var(--color-primary);
  border-radius: 0.188rem;
  height: 0;
  right: 0;
  overflow-y: auto;
  padding: 0;
  bottom: 3.45rem;
  text-align: left;
  transition: all 0.3s ease;
}
.footer-wrapper .store-county.active {
  height: 18.75rem;
  padding: 0.388rem 0;
}
.footer-wrapper .store-county li {
  padding: 0.355rem 0;
}
.footer-wrapper .store-county li:hover {
  background: var(--color-hover-secondary);
}
.footer-wrapper .bottom-menu {
  grid-template-columns: 1fr 1fr 1fr;
  height: 3.35rem;
  align-items: center;
  padding: 0.425rem 0;
  border-bottom: #606060 1px solid;
  border-top: #606060 1px solid;
}
.footer-wrapper .bottom-menu div {
  border-right: 1px solid #606060;
  justify-content: center;
}
.footer-wrapper .bottom-menu li a {
  color: var(--color-secondary);
  text-decoration: underline;
}
.footer-wrapper .bottom-menu ul li a:hover {
  color: var(--color-hover-primary);
}
.footer-wrapper .bottom-menu ul li a:not(:last-child) {
  margin-right: 1.417rem;
}
.footer-wrapper .bottom-contact li a {
  font-size: 0.835rem;
}
.footer-wrapper .bottom-contact li a:hover {
  color: var(--color-hover-primary);
}
.footer-wrapper .bottom-contact li a i {
  padding-left: 1.313rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 0.741rem;
}
.footer a {
  color: var(--color-secondary);
  font-size: 0.741rem;
}
.badge {
  animation: fadeIn 0.7s;
  border-radius: 30%;
  font-size: 0.625rem;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0 3px;
  vertical-align: top;
  margin-left: -0.5rem;
}
@media (max-width: 768px) {
  .login-wrapper {
    width: 100%;
  }
  .search-wrapper {
    display: flex;
    margin: 0.313rem 0 0 0;
    justify-content: space-between;
  }
  .empty-serach-div {
    display: none;
  }
  .search-bar {
    margin-left: 0.625rem;
  }
  .search-input {
    width: 13.5rem;
  }
  .home-col1,
  .home-col3 {
    flex-direction: column;
  }
  .home-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-col1 img,
  .home-col3 img {
    width: 100%;
  }
  .home-col2 {
    margin-top: 2.188rem;
  }
  .about-page {
    padding: 0.825rem;
  }
  .dashboard-wrapper {
    padding: 0;
  }
  .dashboard-wrapper .order-list {
    width: 12.5rem;
  }
  .order-wrapper .dashboard-order .dashboard-order-top,
  .order-wrapper .order-summary {
    grid-template-columns: 1fr;
  }
  .products-list {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0.625rem;
    gap: 1.7rem;
  }
  .products-sort-by {
    padding-right: 0.75rem;
    margin-top: 0.625rem;
  }

  .product-detail {
    flex-direction: column;
    padding: 0.425rem;
    gap: 0.125rem;
  }
  .product-detail .product-spec-wrapper {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .product-detail .product-detail-img-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .cart-page {
    padding: 0.938rem;
  }
  .cart-items {
    width: 100%;
    margin-top: 1.563rem;
    padding-left: 0;
  }
  .cart-item {
    padding-bottom: 0.938rem;
  }
  /**CHECKOUT**/
  .checkout-page {
    flex-direction: column;
    padding: 0.325rem;
    gap: 0.125rem;
  }
  .checkout-page .checkout-form,
  .checkout-page .cart-items {
    width: 100%;
    padding: 1rem;
  }
  .checkout-page .country-dropdown {
    width: 30%;
  }
  .checkout-page .country-list {
    width: auto;
  }
  .checkout-page .discount-form {
    width: 100%;
  }

  .footer-wrapper .store-nav .country,
  .footer-wrapper .store-county {
    font-size: 0.753rem;
  }
  .footer-wrapper .store-county {
    width: 35%;
  }
  .footer-wrapper .bottom-nav li a {
    font-size: 0.875rem;
  }
  .footer-wrapper .bottom-contact li a {
    font-size: 0.73rem;
  }
  .completed-order .order-details {
    width: 100%;
  }
}
.typewriter {
  color: var(--color-primary);
}
.typewriter h3 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
  animation: typing 1s steps(40, end);
}
.typewriter p {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 0.2rem;
  animation: typing 1.3s steps(40, end);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
